[2015-05-05 05:46] WhiteXZ opened #1 "Log4Net"
Implement Log4Net to handle logging. This will solve https://github.com/NyxStudios/TShock/issues/917

[2015-06-08 01:44] WhiteXZ opened #2 "Stat Tracking"
If the stat tracker is reimplemented in Orion it may need to include support for an opt-out: https://github.com/NyxStudios/TShock/issues/936

[2015-06-08 01:44] WhiteXZ commented on #2
Discussion: https://github.com/NyxStudios/TShock/pull/937

[2015-06-10 18:08] Ijwu opened #3 "Proper Plugin Sandboxing"
I don't know if 'sandboxing' is the right term, but one thing that's been an issue in TShock is that once plugins are loaded they're stuck. You can't unload nor reload a plugin. Since the method we use to load plugins has been to load the plugin types out of third party assemblies into the TShock `AppDomain` we can't really unload or reload them.

This issue highlights development made towards the

[2015-06-21 07:42] tylerjwatson commented on #3
Please be aware that types loaded in a separate AppDomain cannot be shared with eachother, even in the static GCRoot.  Marshalling types between app domains have to be done by a marshaller by inheriting from `MarhsalByRefObject`

[2015-06-30 08:43] #1 closed

[2015-07-14 07:29] QuiCM opened #5 "Things to do"
### Orion Core
- [ ] DI/Module Loader Framework
- [x] Log4Net
- [ ] Packet repackaging
- [ ] Storage/Database Framework
- [ ] Module configuration Framework
- [ ] Command framework
- [ ] Console Framework
### TShock v5
- [ ] Bans
- [ ] SSC
- [ ] User storage
- [x] ~~Plugin reloading~~ Likely will not happen
- [ ] Database rewrite
- [ ] REST

[2015-08-14 16:27] pedzed opened #6 "REST API v3"
TShock's REST API v2 is out for quite some time now and it would be nice to have a next version. This gives room to fix some inconsistencies, remove duplication, fix issues and add features.

For example purposes, I will use `127.0.0.1` for the host and `7878` for the REST port. Also, because JSON does not officially support comments, I "faked" the comments.
## Consistency
### Base URL

One issue

[2015-08-14 16:29] pedzed commented on #6
Some things missing in my proposal are:
- Request methods (GET/POST/HEAD/PUT/...)
- How to start the server (back-end)
- How to authenticate securely (back-end)
- Some response statuses should be more specific than `200 OK`
- Some response messages should be added/improved
- Inventory: extra accessory slot

[2015-08-14 18:00] hakusaro commented on #6
Everything here seems like a solid idea to me.

[2015-08-14 19:36] pedzed commented on #6
@nicatronTg What do you suggest for starting the server through REST? I cannot think of an other way besides not completely exiting TShock.

[2015-08-14 19:48] AxisKriel commented on #6
You'd most likely need to separate the HttpServer process handling REST requests from TShock/TSApi in order to do that.

[2015-08-16 02:40] Ijwu commented on #6
With the move to v3 we should switch to [OWIN](http://owin.org/) and [Katana](http://katanaproject.codeplex.com/) as our server.

Edit: Wrong button, sorry folks.

[2015-09-12 13:19] QuiCM opened #7 "Database re-write"
Rewrite the database system using [Dapper](https://github.com/StackExchange/dapper-dot-net).
Should preferably conform to relational database standards

cc @ijwu @tylerjwatson

[2015-09-12 13:23] tylerjwatson commented on #7
Will definitely conform to an RDBMS.

[2015-09-13 00:34] tylerjwatson commented on #7
Suggesting to go with EntityFramework.  It's slightly heavier but has a SQL independent achitecture and we could support really any database that EF does.  Code-first mapping means it'll create schema for you, and migrations means we can make schema changes per releases of orion.

[2015-09-13 00:41] Ijwu commented on #7
From what I've seen,  entity framework is really heavy.  The idea with dapper was to just provide the convenience and functionality of the micro orm with the least changes to the existing code.  My initial idea wasn't to fully rewrite as much as to provide some nice shortcuts.

However,  I'm not against EF. It simply wasn't the initial idea and not the amount of work I was prepared to invest.  I'l

[2015-09-13 00:43] tylerjwatson commented on #7
oh, i'd already started. haha

EF6 is not that heavy, I can use it to pull about 50k rows in ~40-50ms depending on backend.  It's worth it so that we don't have to write and freeze schema.

Are you in charge of schema? I have started to rewrite it.  If shortcuts are the goal here and not actual reimplementation of the database then I will step out.

[2015-09-13 00:46] tylerjwatson commented on #7
PS. If we are going with OWIN for the REST frontend get used to taking on some well heavy stuff. :)

[2015-09-13 00:51] Ijwu commented on #7
Haha,  I'm not so much in charge of the new schema as much as I was the sucker who first volunteered. I'm totally behind the full rewrite. Please don't step out. I haven't had a chance to actually write code in the past few days. I'm helping my buddy move into his new place and things are busy.

[2015-09-13 00:53] tylerjwatson commented on #7
I will at least do a new schema because the current one blows a lot of chunks, the DAL we use to get access to this info can be decided later - I will rip out EF when needed.

I don't mind DB and DAL work since I have done it most of my career.

[2015-09-13 01:05] Ijwu commented on #7
Awesome.  +1

I don't have any serious misgivings about EF so don't rush to rip it out. I doubt I'd be able to poke any holes in the idea.

[2015-09-13 02:04] tylerjwatson opened #8 "Database - Should a [User] belong to multiple [Group]s?"
As title

[2015-09-13 02:20] tylerjwatson opened #9 "Database - [Permission] structure"
## Rationale

TShock's permission system is made up of a comma-separated list of groups, using SQL only as a storage engine and not what it's supposed to be used for.  Most of the performance problems with the AAA system can be resolved by using proper schema.
## Structure
- [Permission] table:
  - ID - primary Key
  - Name - permission name
- [GroupHasPermission] joiner table:
  - PermissionID -

[2015-09-13 02:34] tylerjwatson opened #10 "Database - [User] structure"
## Rationale

TShock's current database system for  users currently lacks keys and aren't relational.  Key identifying credentials such as IP addresses and UUIDs are hacked on in JSON/text columns and aren't useful for a proper SQL relational db.

Many-to-many with [UUID] means that one user may have many UUIDs, and may log in to any account they have been previously bound with by using `/login ac

[2015-09-13 02:40] tylerjwatson opened #11 "Database - [UserInventory] structure"
## Rationale

_Note: Most of this is TBD because I don't understand SSC mechanisms yet_

TShock's SSC mechanism is largely unknown, but in the very least we should look to save people's items in [UserInventory] and [UserInventorySet] tables.

Grouping sets of people's inventories will allow keeping a history of peoples items.  For example, a plugin may choose to 'snapshot' an inventory which are s

[2015-09-13 03:57] QuiCM commented on #7
https://github.com/NyxStudios/Orion/issues/7#issuecomment-139832514

Orion is basically about reimplementing everything. Out with the old, in with the new!

[2015-09-13 04:27] QuiCM commented on #8
This would make far more sense than a user having a single group with multiple parent groups

[2015-09-13 04:28] QuiCM commented on #10
What's the purpose of the IPv4String in the IPAddress table?

[2015-09-13 09:59] tylerjwatson commented on #10
IPv4String is just there so people can query the database against a normal IP address string, since a lot aren't going to know how to convert between an IPv4 long and its dotted quad notation.

IPv4 long is there because of performance and queryability.

It's purely for looks, and can be removed if need be.

[2015-09-13 10:03] tylerjwatson commented on #8
Will use a many-to-many joiner in this context too in that case.  if there is anyone against speak now or forever hold your peace

[2015-09-13 10:04] QuiCM commented on #10
My opinion is remove string and just leave the long. We can provide methods for converting between the two inside the codebase

[2015-09-13 11:22] tylerjwatson commented on #10
Yeh can do.

[2015-09-14 15:29] Ijwu commented on #10
Is there a UUID table missing?

[2015-09-14 15:30] Ijwu commented on #9
Is many-to-many between [User] and [Group] necessary? Do we want users to be able to belong to multiple groups?

Edit: Ok, I missed #8. I can agree with @WhiteXZ's take. You can dismiss my comment.

[2015-09-14 21:13] tylerjwatson commented on #10
Indeed there is haha

[2015-09-14 22:40] tylerjwatson opened #12 "Orion Internal Architecture Proposal"
## Rationale

Orion at the moment seems to be largely a copy-paste of TShock's design patterns.  Not to discredit the design as you have to start somewhere, thinking about the architecture I would really like to initiate the change to a modular design.

It's vital that chunks of Orion be self-contained, as they may be swapped out for anything else.
## Structure

I propose that modules in Orion be

[2015-09-14 22:44] tylerjwatson commented on #12
## Intials
- ICommandProvider - provides support for commands
- IAuthenticationProvider - provides user, IP, UUIDs to TShock
- IBanProvider - provides bans via various mechanisms (ban tables, blcoklists, CIDR)
- ISSCProvider - provides inventory data for SSC enabled characters

[2015-09-14 23:01] QuiCM commented on #12
+1. If you haven't started on this, I'll begin sometime this afternoon

[2015-09-14 23:01] Ijwu commented on #12
Sounds like an internal plugin system. Why not simply export all this functionality into plugins to begin with? How similar do we get to having (what is essentially) a plugin system before just overhauling the current plugin system?

Couldn't we just implement all this functionality in plugins using the current plugin system? We could patch in a `core.Get<TOrionPlugin>()` method.

It just sounds l

[2015-09-14 23:03] tylerjwatson commented on #12
they aren't entire self-contained plugins, they are small self-contained modules that make up a framework, it's possible for external plugins to register their own modules, unless I am not following what you mean.

@WhiteXZ I reckon start by defining the interfaces, that way we have a concrete design on what implementaions must provide to the core

[2015-09-14 23:11] Ijwu commented on #12
I just mean that it's almost _too_ similar to simply having a plugin system. There's a huge overlap in functionality and it sounds suspiciously "wet".

Both of these things implement some interface and are expected to have a specific attribute. They are both responsible for their own run-time, initialization, and de-initialization. They are loaded at run-time by Orion, which looks for that specifi

[2015-09-14 23:43] QuiCM commented on #12
I can replace OrionPlugin with OrionModule and we can design for a modular system if so desired

[2015-09-15 00:12] tylerjwatson commented on #12
I'm confused, are you saying we do away with TSAPI plugins and move to orion modules?

[2015-09-15 00:13] tylerjwatson commented on #12
I'm basically proposing what you need to do to acheive object-oriented modular design, this has nothing to do with plugins.

[2015-09-15 09:36] tylerjwatson commented on #7
It looks like EF requires slightly separate code for each SQL provider we are to support which is fairly disappointing.

Are we okay with this?

[2015-09-15 13:39] Ijwu commented on #7
I'm ok with it. So far the only dialects we need to support are MySql and Sqlite. Others can be added in over time if need be.

[2015-09-16 06:35] QuiCM commented on #7
That's fine. The old system required different code as well

[2015-09-16 06:58] tylerjwatson opened #13 "Framework - OrionModule transparent configuration system"
## Rationale

Moving to a modular system in orion paves the way for transparent configuration, so we may as well use it.  Configuration is a pain point for current plugin developers.

The proposed architecture makes it possible for plugins to store their configs in a clean and consistent fashion, without the developer ever having to care about the physical files themselves; all they need to care a

[2015-10-03 08:34] tylerjwatson opened #15 "Hook discovery, and implementation into OTAPI"
# https://guides.github.com/features/mastering-markdown/

We need a hook matrix of which hooks are featured inside TSAPI and TShock, compared with ones implemented in OTAPI
## Hook Catalog

These hooks exist inside TShock and TSAPI as at APIVersion 1.21

| Source | Name | PropertyType | In OTAPI |
| --- | --- | --- | --- |
| TSAPI | GameUpdate | typeof(HandlerCollection<EventArgs>) | [x] |
| TSAPI

[2015-10-03 08:35] tylerjwatson opened #16 "Orion's OTA framework implementation"
Implement #12 in such a way that it's compatible with OTA, @Ijwu made an OTAPI branch in which the project is to go in

[2015-10-03 08:37] tylerjwatson opened #17 "Implement missing hooks, if any"
In OTAPI we expect there to be missing and/or differing hooks.  These will need to be implemented in order to not lose features in the shift to Orion

[2015-10-03 08:46] tylerjwatson commented on #15
Attached is an Excel file detailing all the hooks currently inside the TSAPI and TShockAPI assemblies.

Apologies for the Excel format, github's file extension limits suck.  Can't even use CSV.

[TShockHooks.xlsx](https://github.com/NyxStudios/Orion/files/7154/TShockHooks.xlsx)

[2015-10-03 08:58] tylerjwatson commented on #15
Use the following query in LinqPad to yield the results:

[code]

[2015-10-11 19:08] pedzed commented on #6
Any updates on this?

[2015-10-12 13:51] Ijwu commented on #6
Rest V3 is coming with Orion at some point. With Orion we are moving to https://github.com/DeathCradle/Open-Terraria-API. OTAPI has webapi built in so we will eventually construct our REST layer on top of that. It's not going to be soon, but it will happen.

[2015-11-25 18:31] Ijwu commented on #16
The OTAPI branch is now where the main development is being done and will be merged into master and made official when an alpha release is ready.

[2015-11-25 18:32] Ijwu commented on #12
The misunderstanding between @tylerjwatson and I has been sorted since and we're working on the module system as described here and in other issues.

[2015-11-25 18:34] Ijwu commented on #6
Throwing out updates, I'll make it a point to discuss with DeathCradle where the REST API integration is with OTAPI and get this on my "to-do soon" list if it's in a working state.

[2015-11-25 18:40] Ijwu commented on #13
Has been implemented in OTAPI branch. Work on it started here: https://github.com/NyxStudios/Orion/commit/d4df33314fa66baafa51d302b3831e792bbee6f1

[2015-11-25 18:40] #13 closed, assigned to nobody

[2015-12-28 07:56] tylerjwatson opened #18 "POSIX directory structure, packaging support"
### Proposal - POSIX Directory Structure

The purpose of this proposal is to outline the requirements for server behaviour in regards to POSIX directory structure support and RFC for such features.
### Outline

The server should move away from the implicit current directory base structure in favour of a configurable base directory that may be globally based, or overridden to support instances of T

[2016-01-17 22:46] tylerjwatson commented on #5
NB. Bought this issue up to date a bit.

[2016-01-19 12:47] QuiCM opened #19 "Logging"
What do we want our logger to do?

[2016-01-19 22:49] tylerjwatson commented on #19
log stuff

_Edit:_ In all seriousness though, here is my wishlist for the logging facility:

[ ] Create seperate logging facilities per module instance: Each plugin gets its own little neat logger that it writes stuff to, this logger has its own level, they gotta stand up and tear down at any time.
[ ] Different appenders per facility that may be turned on and off per config
[ ] Logrotate engine t

[2016-01-21 10:42] SignatureBeef commented on #19
As discussed, here is a short comparison of how OTA.Logging.ProgramLog in OTAPI can assist.

In short there are two main sections of how ProgramLog works.
Firstly, ProgramLog typically writes everything to the main server log (created by OTA) and facilitates the writing to the console and child LogLargets.
Secondly, there is LogChannel which is intended for use on a per module basis.

1) Log facil

[2016-07-04 10:36] tylerjwatson commented on #12
This is quite out of date.  I am closing this in favour of another proposal coming very shortly.

[2016-07-04 10:36] #12 closed, assigned to nobody

[2016-07-13 06:13] #2 closed

[2016-07-13 06:13] #3 closed

[2016-07-13 06:13] #5 closed, assigned to nobody

[2016-07-13 06:13] #7 closed, assigned to nobody

[2016-07-13 06:13] #15 closed, assigned to tylerjwatson

[2016-07-13 06:13] #16 closed, assigned to nobody

[2016-07-13 06:13] #17 closed, assigned to nobody

[2016-07-13 06:37] tylerjwatson opened #21 "Orion Framework general to-do list"
The below contains a list of general items to be completed in the Orion Framework
- [x] Assembly patcher in OTAPIv2
- [x] OTAPI v2 Release to NuGet
- [x] Orion: Project skeleton
- [x] Orion: Injector framework, Service and plugin bases
- [ ] Orion: Service interface definitions/documentation
- [ ] Orion: Built-in service implementations
  - [ ] Service: AAA Service (#31)
  - [ ] Service: Command s

[2016-07-22 08:31] tylerjwatson commented on #9
Reopening this as it's valid in new orion

[2016-07-26 06:46] tylerjwatson opened #24 "[RFC] Service framework: SharedService and Service"
Up until now there is only support for one type of service, `IService` which lives in singleton scope.  It has been identified that not all services are fit for a singleton, so two service types must be created.
### Use Case: Multi-injection

There is no reason for `IConfigurationService` to be singleton.  It would be better served as a generic service that takes a type argument for the class that

[2016-07-26 06:46] QuiCM commented on #24
:+1:

[2016-07-26 06:49] tylerjwatson commented on #24
_Updated_

[2016-07-26 07:06] tylerjwatson opened #25 "[RFC] Service framework: External definitions"
Until now, Orion only allows service definitions internal to its own assembly.  They are defined by us and essentially hard-coded.  The injector doesn't know how to bind interfaces it doesn't know about.

It's time to have a discussion about extensibility to the service mechanism which will allow the flexibility to create _"foreign"_ service types externally, from assemblies in the `plugins` direc

[2016-07-26 14:09] Ijwu commented on #25
How are we going to handle several implementations of the same service? Will this all be configured before runtime? Does this mean a configuration step is required with every plugin installation which handles or introduces a new service?

[2016-07-26 14:10] Ijwu commented on #24
I agree that the next step with the injection is making the services available in scopes other than singleton scopes. How is this decided, though? Are we just going to move all singleton services to `ISharedService` and bind those in singleton scope?

[2016-07-26 22:44] tylerjwatson commented on #24
depending on class behaviour, yeah that was pretty much the plan.  I may end up going with a `SharedServiceBase` abstract as well depending on if anything else needs to be stored in the class

[2016-07-27 16:32] MarioE opened #26 "Namespace and type naming collisions"
There are a few instances of shared namespace and type names:
- `class Orion` and namespace `Orion`
- `class Item` and namespaces `Orion.Entities.Item`, `Orion.Events.Item`
- `class Npc` and namespaces `Orion.Entities.Npc`, `Orion.Events.Npc`
- `class Player` and namespaces `Orion.Entities.Player`, `Orion.Events.Player`
- `class Projectile` and namespaces `Orion.Entities.Projectile`, `Orion.Events

[2016-07-27 17:13] Ijwu commented on #26
I think renaming the `Orion` namespace to something like `OrionApi` is fitting and acceptable.

What about prefixing the entity names? Something like `OrionItem`, `OrionNpc`, etc. That way we have differentiation in the code as from the Terraria entities. (As well as name differentiation).

We can probably then leave the namespaces the same.

[2016-07-27 17:19] MarioE commented on #26
I do like prefixing the entity names, but you would still have a conflict with the namespace and the Terraria entity. Since the concrete types are going into TShock, we would name them `TshockItem`, `TshockNpc`, etc.

Also, something to note is that our type names conflicting with Terraria names shouldn't make too much of a difference in our name decisions, since our goal is to eventually have con

[2016-07-27 18:14] Ijwu commented on #26
Prefixing them with `TShock` (or `Tshock`, whatever) is good. I would agree with pluralizing the namespaces.

Note: Ignore accidental comment+close

[2016-07-28 05:52] MarioE opened #27 "Properly implement IoC"
Implement IoC properly, passing around `Func<TTerrariaType, OurType>`s in order to wrap the necessary objects in, e.g., `ItemService`, `PlayerService`, etc.

E.g., `Player` constructor needs to be something like this:

[code]

[2016-07-28 07:04] tylerjwatson commented on #27
I've never seen func delegates in any soa pattern before, why do you need to do this?

[2016-07-28 13:18] MarioE commented on #27
Closed for now, see discussion in slack channel.

[2016-07-28 13:18] #27 closed, assigned to MarioE

[2016-07-28 17:57] MarioE commented on #26
If there are no objections to the namespace renaming, then I will do this tonight.

[2016-07-28 17:58] Ijwu commented on #26
Please detail the exact changes you'll make, for the sake of having it on record+everyone being on the same page.

[2016-07-28 18:01] MarioE commented on #26
- `Orion.*` -> `OrionApi.*`
- `Orion.Entities.<name>` -> `OrionApi.Entities.<name>s`
- `Orion.Events.<name>` -> `OrionApi.Events.<name>s`

EDIT: where `<name>` != `World`

[2016-07-28 22:48] RecDecLec opened #28 "Orion' does not contain a project to restore."

[2016-07-29 01:28] AxisKriel commented on #28
Details?

[2016-07-29 15:30] #26 closed, assigned to nobody

[2016-07-30 19:54] MarioE commented on #24
Is there any reason we can't just simply have a `SharedServiceAttribute` instead, though?

[2016-08-01 13:15] #28 closed, assigned to nobody

[2016-08-02 18:16] MarioE commented on #25
So, this appears to be partially implemented as of now, since we are currently scanning the plugin directory for services. However, we still have to handle multiple binding and service overriding...

[2016-08-04 03:15] tlworks opened #29 "Feature Request: ChatAboveHeads"
Speaks for itself, ChatAboveHeads just as in TShock.

[2016-08-04 17:00] Ijwu commented on #29
This is a very pre-emptive feature request, seeing as Orion isn't even out for testing yet. But, I think it's fair enough to state and I think it's fair enough to keep this issue open.

When we get to that point of Orion I will try to ensure we keep this in mind.

[2016-08-13 11:23] tylerjwatson opened #31 "Service framework: AAA"
Authentication, Authorization and Accounting service, which takes care of user accounts, authroization, groups, and permissions.

[2016-08-13 11:50] tylerjwatson opened #32 "Orion Framework: Command service"
implement a command service which handles commands with parameters that are either invoked by players, the console, or any UI frontend running in Orion.

The basic spec is as follows:
1. Design an `ICommandStreamService` (shared) whose job it is to keep the list of commands, and facilitate the insertion of command handlers at any place in the handler stack, handle the deserialisation of command pa

[2016-08-24 19:26] tlworks opened #34 "Feature Request: Wildcard banning."
In the current TShock you cannot ban Wildcard IP's, this is rather annoying as many players have Dynamic IP's.

Example: /ban addw 123.123.123.*

[2016-09-03 02:08] QuiCM commented on #32
I've implemented a class-based command system in another project. An example command is as follows:

[code]

`ICommand` requires one `Execute(CommandContext context)` method to be present. Further execute methods must be manually added to match the parameter types specified in the command's `Parameters` enumerable.
When the command is run, the handler converts the provided string arguments into th

[2016-10-07 20:56] hakusaro opened #35 "Discussion: Hot plugin loading + reloading"
From Slack, #orion-info, there was a discussion with some discrepancy on whether or not plugin hot reloading / reloading would be a part of Orion. According to @ProfessorXZ, @MarioE has stated this isn't going to be a feature, but @Enerdy said that the previous reason why we didn't have hotloading in the API was because of issues loading and reloading assemblies. In addition, @Enerdy pointed out t

[2016-10-08 12:35] QuiCM commented on #35
Anything loaded is added to the appdomain.
The only way to truly unload is to kill the appdomain (and thus the process).
So technically I believe you can remove bound types from the Ninject kernel (which handles our DI) and re-add modified versions, but any assemblies they came from will remain in the appdomain until it is destroyed. I.e., 'reloading' a plugin would result in multiple instances of

[2016-10-09 04:59] tylerjwatson commented on #35
If it got to a point with the SoA that you did not rely on anything in the `Terraria` namespace then technically all the services _could_ implement `MarshalByRefObject` and use the .net marshalling proxy to communicate between AppDomain boundaries, and each plugin could run in its own AppDomain, alllowing for its removal at runtime.

The massive caveat is that if a plugin used anything in the `Ter

[2016-10-09 13:49] Patrikkk-zz commented on #35
I agree with Tyler. Although I'm not as experienced in the topic as him, I did play around with plugin reloading. I've got the the point where my plugin was completely re-loadable, using `MarshalByRefObject`. but - as @WhiteXZ  already described above -  I had issues accessing certain variables and objects from the `Terraria` namespace. Couldn't access TPlayer objects, due to them not being marked

[2016-10-10 03:15] hakusaro opened #36 "Standardize error messages + feedback"
I think we should standardize error messages and feedback, like what changed in https://github.com/NyxStudios/TShock/commit/c4cf2d496ddd1dc871be77a861a793d78dd77da2 with `/register` in TShock.

I think any error message that gets sent to either the console or a player should have not only a clear message, but a reasonable solution attached too.

Bad:
1. There was a problem with the database. [Stac

[2016-10-10 22:25] Ijwu commented on #35
I believe the general consensus on this is that it is too much word/infeasible to attempt to implement this. At first it was thought that Ninject may provide this capability but it was later debunked as there is no unloading of assemblies from an AppDomain and we've already gotten into what using multiple AppDomains means.

[2016-10-10 22:27] tylerjwatson commented on #35
Perhaps we can redirect the conversation towards a scripting engine to go along with the plugin engine? Perhaps in a new issue?

Sent from my iPhone

On 11 Oct. 2016, at 8:25 am, Hussein Farran <notifications@github.com<mailto:notifications@github.com>> wrote:

I believe the general consensus on this is that it is too much word/infeasible to attempt to implement this. At first it was thought that

[2016-10-10 22:45] Ijwu commented on #35
A scripting engine is a big conversation to have. I think redirecting that conversation to a new issue is a good idea, but I don't think it should have equal/more priority over the plugin engine at the moment since that's where we've built our infrastructure towards.

I believe it could be possible to switch gears to a scripting engine over a plugin engine and use that as our main extensiblility p

[2016-10-10 22:57] Ijwu opened #37 "Discussion: Scripting Engine"
C# Scripting is now feasibly possible with the Roslyn Compiler Platform. It could be possible to allow for plugins to be loaded in the form of C# source code files and have them dynamically compiled to assemblies at run-time. This could possibly allow for hot-reloading and runtime edits by removing references to the hot-potato code and recompiling it.

This is mentioned by @Patrikkk in #35 during

[2016-10-10 23:02] hakusaro commented on #35
Closing issue and letting discussion happen on #37.

[2016-10-10 23:02] #35 closed, assigned to nobody

[2016-10-10 23:24] tylerjwatson commented on #37
To be clear, I think we should set the main outcome of the scripting engine to be **reloadable units** that do not require the server to be shut down to be refreshed.

The main issue with C# "scripting" is that they are not _scripts_, and is the main reason why I don't want to support it in Orion:  They do not run in a sandbox in any way and have the same privilege level as anything running in the

[2016-10-10 23:28] hakusaro commented on #37
Lua?

[2016-10-11 01:36] hakusaro opened #38 "Socket connections occupy slots"
This should ideally be worked around / hacked around somewhere in here or OTAPI to prevent any regression or related issues from moving to Orion instead of TSAPI. See https://github.com/NyxStudios/TShock/issues/1023 for more context.

[2016-10-11 07:48] QuiCM opened #39 "Externalise strings"
Over the years we have had many requests for TShock to be translated, as well as offers from translators to do so. However, due to the nature of the codebase (i.e., hardcoded strings), this is a difficult task.

I propose we make use of Visual Studio's built in resx file support (read more [here](https://msdn.microsoft.com/en-us/library/7k989cfy%28v=vs.90%29.aspx)) to help remedy this issue.

[2016-10-11 12:57] Ijwu commented on #37
There are options that allow for dynamic execution of code without requiring a 'compile' with the DLR. IronPython does have facilities to run actual scripts. Lua is most definitely an option and I have some experience working with it (many years ago, though).

[2016-10-11 16:25] hakusaro commented on #6
@ijwu @DeathCradle poking you both on this issue since it hasn't been worked in ages

[2016-10-11 17:01] hakusaro opened #40 "TShock 4 -> 5 Feature Map"
This is a project I discussed with @tylerjwatson. Effectively, I'm going through the entire TShock 4 codebase and identifying key features, commands, subsystems, etc. and dividing them up in a table to determine where they should go in TShock 5 and Orion.

Because the wiki doesn't have any way to send notifications to Slack, I'm creating an issue here to track my progress as I work to enumerate th

[2016-10-11 17:11] hakusaro commented on #31
@tylerjwatson just wanted your input on whether or not AAA is destined to have user facing entry points (commands)?

[2016-10-11 17:16] Ijwu commented on #6
I will have to have a 1 on 1 with @DeathCradle and actually figure this stuff out. If I don't get the chance to talk to him then I will look at the current OTAPI source and see if a REST framework is built out at all. I would say there hasn't been progress on this all year, it fell through the cracks as a non-essential feature. I'll personally pick up on this and see where we can go with it.

[2016-10-11 17:23] hakusaro commented on #6
Please document this conversation here. I don't want to have the conversation lost in Slack or something and then never documented. Otherwise, sounds good c:

[2016-10-11 21:31] SignatureBeef commented on #6
@Ijwu The REST framework is now done in [Orion](https://github.com/NyxStudios/Orion/tree/general-devel/Orion/Rest) as OTAPI v2 is now purely a low level Terraria API.
The above controllers are still to be done though, in TS5 or Orion.

[2016-10-11 22:27] Ijwu commented on #6
@DeathCradle Confirm for me, then, that there is currently no progress towards the REST API within Orion/TShock 5.

[2016-10-11 23:19] tylerjwatson commented on #6
@Ijwu see #33 - the progress is with a REST service, which spins up a fully managed instance of OWIN self-host with WebAPI 2 front end.  It should harvest controllers within the current app domain, and should be ready for controllers to be added in other services.

Alternatively, we can discuss a design where controllers are constructed dynamically by calls to a REST service method like `AddEndpoi

[2016-10-11 23:22] hakusaro commented on #6
At least far as I'm concerned right now REST API will be fully implemented in Orion and no REST stuff will touch TShock unless it's TShock related (warps come to mind). If this isn't the intention then let me know so I can update the feature table for TShock 5.

[2016-10-11 23:27] tylerjwatson commented on #6
Agree, not currently.  But TShock can feel free to yield its own endpoints to the REST service as it sees fit.  Most of the REST functionality will interact directly with other services to instrument the services' operations remotely.

[2016-10-11 23:34] hakusaro commented on #6
Well right now things like AAA are handling what TShock was; I'd say that probably takes care of a lot of it. Things like warps and regions I could see being exposed by TShock over rest and not Orion.

[2016-10-11 23:46] tylerjwatson commented on #6
AAA's implementation (and all of the relevant parts of TShock) shall be moved into TShockv5 when they are done and someone spins up an assembly.

Most of that stuff hijacked from TShock is only in Orion right now to support easy development&test methodologies, and will be moved out as we draw closer to a public release

[2016-10-11 23:58] hakusaro commented on #6
Cool.

I'm completely confused now.
On Tue, Oct 11, 2016 at 5:46 PM Tyler Watson notifications@github.com
wrote:

[2016-10-12 02:51] hakusaro commented on #6
@tylerjwatson so is Orion going to have _no services_ out of the box? Right now I was classifying Orion as handling core authentication + database. Is that not correct?

[2016-10-12 02:53] QuiCM commented on #6
@nicatronTg Orion contains service _definitions_, TS5 will contain concrete implementations.

E.G., IUserAccountService would be in Orion, while PlainTextAccountService would be part of TShock

[2016-10-12 02:56] hakusaro commented on #6
So, just for my curiosity, the benefit for creating the service definitions in Orion is...?

[2016-10-12 03:10] QuiCM commented on #6
Orion is a mid-level wrapper for OTAPI.
Instead of the TShock 4 architecture where plugins must depend on both TShock and TSAPI (and TShock ends up fulfilling an API role), plugins should only need to have a dependency on Orion (and any plugins they may depend upon).

Orion acts a full API providing services for anything a plugin should need. Plugins request a service and it is provided to them.

[2016-10-13 02:27] QuiCM opened #41 "Bans"
How would we like bans to work?
I believe there was a brief discussion in Slack involving a suggestion to simply have an 'enabled/disabled' flag on each account.
Plugins simply modify this value to 'ban' a user and track any other information they may need independently (e.g., banned/disabled datetime, reason, who banned the account).

Suggestions? Feedback?

[2016-10-13 02:28] QuiCM commented on #40
In relations to your Bans feature, see #41

[2016-10-13 13:51] Ijwu commented on #41
I would like to see a detailed ban system as a part of TShock 5. I think bans are a big part of game server administration, so providing a proper toolset out of the box is what I'd like to aim for.

I'd like to see these things at a minimum:
- Timed Bans
- IP Bans
- Username Bans
- Wildcard Bans (for IP bans)

These things should be present in TShock 5 and _not Orion_. Orion should provide the cap

[2016-10-13 14:11] QuiCM commented on #41
To confirm, you'd like bans to be completely separate from Orion (no services, no enabled/disabled flag on accounts) and purely handled by external sources (such as TShock or any other plugin that chooses to implement a banning system)?

[2016-10-13 14:19] Ijwu commented on #41
Yes, allow me to elaborate.

I don't see bans being a part of Orion. That's a functionality to aid server administration and so it should live solely in TShock. TShock should provide the ban service interfaces and implementations. TShock should handle keeping track of which users are banned and which are not.

These things will be tied into the AAA services eventually, of course. But those service

[2016-10-13 14:27] Patrikkk-zz commented on #41
I agree with @Ijwu . Since user system will be part of TShock 5, bans should be going in there too.

[2016-10-13 14:30] QuiCM commented on #41
For clarification: AAA service _definitions_ will be remaining in Orion, while _implementations_ will be TShock (unless I have missed conversation about this recently)

[2016-10-13 15:01] Ijwu commented on #41
@WhiteXZ @Patrikkk and I have discussed this in Slack. The results of our conversation would be that I agree with @WhiteXZ.

Service definitions should remain in Orion as TShock carries implementations only.

The purpose of this is to avoid building a relationship chain in which other plugins require TShock for their baseline functionality.

[2016-10-13 15:53] hakusaro commented on #41
I'm inclined to say that bans are very independent of accounts -- but they're essential to a game server. Any server that exists will necessarily have bans, and thus, the service definition fits in Orion.

That being said, bans have to cover a wide variety of use cases, because IP bans, IP range bans, hostname bans, dnsbl, etc., are all variable, as well as things like disabling accounts.

[2016-10-13 15:53] hakusaro commented on #41
(Disabling an account will actually do very little unless you're a whitelist only pay server)

[2016-10-14 05:51] tylerjwatson commented on #41
Nope, this much is set in stone

[2016-10-23 18:23] hakusaro commented on #40
I'm moving the entire table to Github issues because the wiki software sucks and has a compulsory sidebar and doesn't like handling big tables properly.

[2016-10-23 18:32] hakusaro commented on #40
I've taken care of what I consider to be almost all of the core features, but I don't know. I'd say everyone is open to edit this table and add suggestions as they see fit.

@tylerjwatson, if you can answer the database/config questions, that would be great.

[2016-10-23 19:28] hakusaro commented on #31
@Enerdy it's been several months. Is there something blocking you on this that we can help you out with?

[2016-10-23 20:00] hakusaro opened #42 "What blocks TShock 5?"
In one of many discussions with Wolfje, I pointed out that it would be worth developing TShock 5 along side Orion as fast as possible to get momentum going to answer questions like "what actually needs to be in Orion?" The general feedback I got was that development on TShock 5 shouldn't start until a lot of the underlying Orion structure is done, but this poses a problem: how do you develop a fra

[2016-10-24 01:57] QuiCM commented on #39
@NyxStudios/tshock Initial work for this issue has been submitted on the [external-strings](https://github.com/NyxStudios/Orion/tree/external-strings) branch. Feedback would be appreciated

[2016-10-24 02:02] hakusaro commented on #39
I'm generally neutral/abstaining on this issue; I think that _any type of externalization is better than nothing_ but I personally don't know enough about the resx format to know the pros & cons of choosing it over say, yaml.

[2016-10-24 02:18] QuiCM commented on #39
Resx makes it ridiculously easy to add/modify strings.
Visual Studio automatically creates a backing `Resource.Designer.cs` class that updates with fields as you add strings to your resx file. Strings are then accessed through `namespace.Resource.{field}`.
In our case I've renamed the resx file to `Language.resx`, so to access the text displayed when loading a plugin or service you would use `var

[2016-10-25 05:14] hakusaro commented on #42
@DeathCradle, @MarioE, @tylerjwatson, and @WhiteXZ, your thoughts, opinions, critiques and general commentary on this essay are appreciated, as well as, if possible, some progress on the aforementioned goals, so that people like me, outside collaborators, looking in, can start helping push our little spaceship from TSAPI to Orion at a little bit faster than 0kph.

[2016-10-25 05:27] tylerjwatson commented on #42
I'm not actually sure what you want. Is this a request for documentation? Its an open source project and I think this is completely unreasonable to expect this level of project management at this stage.

Its a culmination of how I would design a large scale application simply because nobody else was willing to contribute any sort of concrete direction, so I took the lead. I'm not going to repeat t

[2016-10-25 05:34] hakusaro commented on #42
I have lots of time I want to donate to this project. A lot of time. Here's my biggest fear: **spending a week implementing something and find out I've been doing it the entire wrong way**. So...

This is the most important thing, because it gives me something I can sink my teeth into, start working, and see where the train tracks go in the future. If I botch implementation of something tiny, it w

[2016-10-25 05:38] hakusaro commented on #42
I'm actually quite fond of having you mentor me in how to _not write static shock again_ Wolfje, so consider this more like a love story about wanting to help you push this forward in any way I can. I can start checking off my own list if I have an idea of what's actionable.

[2016-10-25 05:41] tylerjwatson commented on #42
Maybe a webcast Style thing would be a cool idea where people can ask questions in real time and we can figure out how to document this stuff together in a format that is understandable and get rid of some of the silo?  I have no problem talking through it

[2016-10-25 05:42] hakusaro commented on #42
@tylerjwatson I like that idea a lot. We could record + transcribe it so that we're not stuck in the same circles repeating things over and over too. Would probably solve a lot of problems at once.

[2016-10-25 18:45] AxisKriel commented on #31
So stuff happened and been busy with other projects. I've previously been stuck on an issue with permissions but that has since been addressed on Slack. I'll see if I can spare some time and start committing instead of leaving everything for a single big commit (which I tend to do).

On 23 Oct 2016, at 20:28, Lucas Nicodemus <notifications@github.com<mailto:notifications@github.com>> wrote:

@Ener

[2016-10-25 18:53] Ijwu commented on #31
@Enerdy Feel free to include that Slack discussion in the GitHub Issues correspondence. It helps provide context.

[2016-10-26 01:11] tylerjwatson opened #43 "Prepare a presentation on Orion API"
This issue is to track a presentation to other stakeholders what orion actually is, and to go through an end-to-end use case for why some of Orion's design decisions are the way they are, and to discuss the merits between them

**Outcomes of the presentation:**
1. A clear consensus on what Orion actually is, and what it means for Terraria (OTAPI)
2. A clear consensus on what Orion is _not_
3. A cl

[2016-10-27 11:32] AxisKriel opened #46 "AAA: Users and Accounts"
The general consensus in server applications is that each person connecting is given a `User` object. This object serves as the main interaction point between the server and the client. Users may register to the system which creates a user `Account` associated with the user object. Typically, accounts are simply database information that grants the user access to certain features when authenticate

[2016-10-27 12:48] QuiCM commented on #46
:+1: to `Account` and `IAccountService`

[2016-11-05 12:12] #46 closed, assigned to nobody

[2018-04-07 17:03] Ijwu opened #48 "Orion Framework: Internal Message Queue"
Event handling, in its current form, relies heavily on the C# `event` object. This is seriously limited in that services may not define prioritization or handling order.

An internal message queue would allow for all services to write events to the queue and allow all other services to receive and respond to messages in a pub-sub pattern.

[2018-04-08 16:17] Ijwu commented on #48
![image](https://user-images.githubusercontent.com/1393017/38469683-d7e26012-3b26-11e8-866c-3c37389f8c81.png)

[2018-04-08 19:31] bartico6 commented on #48
Essentially the problem is that currently only the networking classes are publishers, which means that plugins that emulate any sort of behavior that would normally come from networking classes are essentially unfeasible as you have to hack your way into the networking (if even possible) rather than simply fire an event.

I think the way Bukkit works, a similar solution to which is being proposed

[2018-04-11 07:41] tylerjwatson commented on #48
My original design of Orion handled this kind of thing, but not in any specific form.  In my designs, I simply used the .NET `event` mechanism for attaching delegates onto event handlers.

I suppose it depends on what you mean by _limited_.  Events are limited in and of themselves, but I suppose I am asking what is the actual problem we are trying to solve here?

- Handler priority is limited, but

[2018-04-11 08:31] bartico6 commented on #48
- priority is determined by plugins when registering. They register an event with chosen priority. Loggers would set the event priority to MONITOR to have the event after everyone, region protection or anticheat would want to be at the top of the food chain etc
- if all plugins use netgetdata to protect tiles, how do you consult tile access with other plugins?
- thats why, to avoid net hooking alt

[2018-04-11 14:06] Ijwu commented on #48
Question for you @tylerjwatson: If a plugin needs to revert or cancel and event, how does it go around doing that without causing issues for others? From what I've seen, it's a legitimate use case for a plugin, such as region protection, to throw out an event with intent to ignore it. If it doesn't handle it first then another, less important or critical, plugin could break the chain first causing

[2018-04-11 20:54] QuiCM commented on #48
With that being said, 'handling' an event does not currently break the chain.
The onus falls upon other plugins to check the handled state of the event which is, in my opinion, unintuitive

[2018-04-12 00:31] tylerjwatson commented on #48
Agreed, I think we can improve that design a lot by checking the flag at each stage.

[2018-04-12 12:47] bartico6 commented on #48
If tShock had its handlers running before plugins (due to, say, registering with a higher priority) then plugins should have a way to 'un-cancel' the event, same goes for other plugins' actions being "reversed" by another plugin further down the chain. Here is a viable example, yet again, from Bukkit:
![Example](https://i.quake.tf/1523537108-0363845387.png)

This event can be marked as disallowed

[2018-10-16 22:31] hakusaro opened #50 "Patch CVE-2018-1000210."
We're getting a security alert for this CVE: https://nvd.nist.gov/vuln/detail/CVE-2018-1000210

The patch seems to be a trivial update to `packages.config`:

[code]

This is a high priority issue because we're going to be emailed about it until it gets fixed. Coincidentally, this is also a great hacktoberfest issue!

----

Hello Hacktoberfesters! If you're looking for something to do please patch

[2018-10-17 01:13] #50 closed, assigned to nobody

[2019-09-11 22:07] kevzhao2 opened #52 "Discussion: Current State of Orion"
Since I've pushed a ton of stuff to the `reboot` branch, I want to recap what's been done there.

Orion's goal is to act as an _intermediary_ layer between OTAPI/Terraria and TShock/other plugins. The way in which this is done is by providing interfaces such as `INpc` and `INpcService` to consumers such as TShock. There are three main reasons for this:

- Testability. With interfaces, it's _much_

[2019-09-11 22:11] kevzhao2 commented on #19
An external library like [Serilog](https://serilog.net/) is probably our best bet.

[2019-09-11 22:11] #19 closed, assigned to nobody

[2019-09-11 22:14] kevzhao2 commented on #48
In the `reboot` branch, I now have a `HookHandlerCollection<TArgs>` class which should handle this properly. You can annotate hook handlers with priorities, and the class is immutable and hence thread-safe.

[2019-09-11 22:48] kevzhao2 commented on #52
One main question I have is whether to continue sticking stuff like `IAccountService`, `ICommandService`, `IRestService`, etc. in Orion. @tylerjwatson @Ijwu @hakusaro @QuiCM @AxisKriel

Shouldn't this now be TShock's job? Why do we need these definitions in Orion now?

[2019-09-11 22:49] kevzhao2 commented on #36
In addition, we should be using localized strings from the get-go. However, logging should still be done in English. There's no point localizing logs, IMO.

[2019-09-11 23:28] QuiCM commented on #52
Agreed - account and user management services fall outside the scope of Orion. I believe account/rest/command were originally included so that any tshock alternatives would have base services out of the box that they could use and override/extend if necessary, rather than having to create the entirety of those services themselves

[2019-09-11 23:50] kevzhao2 commented on #52
I see. To be honest, I'm not sure there's any point in doing that any more. If TShock alternatives would like to override them, then they probably wanted an entirely different mechanism. I think extensions are possible __as long as we provide events for these services__.

[2019-09-11 23:51] kevzhao2 commented on #52
For example, as long as the command service provides an `ExecutingCommand` event, then a permission service could hook that and handle the event if the user is determined to not have the required permissions.

[2019-09-12 00:12] QuiCM commented on #36
This sounds good, but will require sometime to champion it. Will devs have a service available that provides things like 'good 3.'?
Is someone going to produce a general error reporting standard to be followed inside TS/Orion?
Who will be responsible for ensuring code contributions provide the quality this proposal suggests?

[2019-09-12 00:15] QuiCM commented on #52
Yep. Sounds reasonable

[2019-09-12 00:19] hakusaro commented on #52
For the most part, abstracting for "TShock Alternatives" that don't exist yet it is not a good use of anyone's time. In fact, dare I say that most abstraction that's done before the existence or need of alternatives is not a good plan.

I believe the goal should be to be like Bukkit + CraftBukkit. While an abstract API exists, it at least has one shipping implementation that someone would _want to

[2019-09-12 00:23] kevzhao2 commented on #52
Yeah, I definitely agree. There's a trade-off between time and "programming pureness". In this case, all of the current (reboot) definitions have _real_ implementations, and most of them (barring the network service, which is a pretty painful thing to write tests for, since Terraria network functionality is basically untestable) have tests.

Stuff like logging, which we were thinking of whipping o

[2019-09-12 00:26] #8 closed, assigned to nobody

[2019-09-12 00:27] hakusaro commented on #52
`IAgree`.

[2019-09-12 00:54] kevzhao2 commented on #39
Closing this issue as we agree that resource files are the way to go. There are no actionable changes to make.

[2019-09-12 00:54] #39 closed, assigned to QuiCM

[2019-09-12 21:34] bartico6 commented on #52
While I'm not certain if that is "in plans" or not, I would like to repeat that tShock and its ecosystem should move away from nethooks & nethook usage should be strictly discouraged unless you know what you're doing and you need to mess with netcode directly.

This is because things ideally would be using events, even if they're naive wrappers around nethooks, since in many cases it would be conv

[2019-09-13 06:02] kevzhao2 commented on #52
Yep, that makes sense. I think Orion should expose events for actually everything, tbh. It should expose block breaking, player teleporting, etc.

[2019-10-20 18:32] kevzhao2 opened #54 "Discussion: How to handle events"
Currently, there are `EventHandlerCollection<TEventArgs>` properties on all of the services. To register an event, you'd do something like the following:

[code]

However, another possible way to register events could be like the following:

[code]

The idea is that `OrionKernel.RegisterEvents` will take all methods from the given object, filtering using the ones with `EventHandlerAttribute` annot

[2019-10-21 03:08] QuiCM commented on #54
First looks much more verbose and intuitive and thus, for a user unfamiliar with the internals, more understandable (imo). If a handler is not picking up events correctly it is very easy to understand why without having to look under the hood.

The second looks cleaner and simpler and is my preference, however looks less intuitive and more difficult to debug without knowledge of the parent system

[2020-05-27 01:00] kevzhao2 commented on #38
Closing this since it is no longer relevant.

[2020-05-27 01:00] #38 closed, assigned to nobody

[2020-06-01 19:46] kevzhao2 commented on #54
Just to update this, the direction forward has been chosen: aggregating events and event handlers in the kernel.

[2020-06-01 19:46] #54 closed, assigned to nobody

[2020-06-01 20:29] kevzhao2 opened #55 "Orion v1.4 Development Progress"
This issue will serve as a tracker for Orion progress (under the v1.4 branch). It will also indicate how "ready" Orion is in terms of developing against it. A large portion of the pre-development milestones have been knocked out, which means that it is pretty much okay to start developing against Orion.

The concurrent development milestones can be completed at the same time as developing against

[2020-06-01 20:39] kevzhao2 opened #56 "Orion v1.4 "Meta" Progress"
This issue will serve as a tracker for "meta" Orion progress. Items that fall under this category include, but are not limited to, creating developer-oriented documentation so that other developers can begin contributing to Orion, lobbying for support behind Orion, etc.

- [x] Clean up the repository. There is a lot of outdated information.
- [x] Improve the README. This could even just link to th

[2020-06-01 20:41] #25 closed, assigned to tylerjwatson

[2020-06-01 20:41] kevzhao2 commented on #21
Closing as outdated.

[2020-06-01 20:41] #21 closed, assigned to nobody

[2020-06-01 20:42] kevzhao2 commented on #48
Closing as these concerns will no longer be relevant due to the new event API.

[2020-06-01 20:42] #48 closed, assigned to Ijwu

[2020-06-01 20:43] kevzhao2 commented on #34
This is not actionable currently.

[2020-06-01 20:43] #34 closed, assigned to nobody

[2020-06-01 20:43] kevzhao2 commented on #32
Closing this -- we will revisit this in TShock.

[2020-06-01 20:43] #32 closed, assigned to tylerjwatson

[2020-06-01 20:43] kevzhao2 commented on #24
Closing this, as it is now outdated compared to the current API.

[2020-06-01 20:43] #24 closed, assigned to tylerjwatson

[2020-06-01 20:44] kevzhao2 commented on #29
This is not actionable and not relevant to Orion. We will revisit this later.

[2020-06-01 20:44] #29 closed, assigned to nobody

[2020-06-01 20:45] kevzhao2 commented on #31
Closing this, as it will be handled in TShock.

[2020-06-01 20:45] #31 closed, assigned to AxisKriel

[2020-06-01 20:47] #52 closed, assigned to kevzhao2

[2020-06-01 21:14] kevzhao2 opened #57 "Terraria Projectiles"
Define and implement `IProjectile` and `IProjectileService` abstractions. Implement projectile-related events, as well.

[2020-06-01 21:17] kevzhao2 opened #58 "Terraria Tiles"
Define and implement a `Tile` abstraction.

[2020-06-01 21:50] kevzhao2 commented on #43
Closing as this is not relevant atm. If necessary, open a new issue for this.

[2020-06-01 21:50] #43 closed, assigned to nobody

[2020-06-01 22:16] kevzhao2 opened #59 "Automated Documentation"
Set up an automated documentation workflow.

[2020-06-01 23:42] kevzhao2 commented on #59
Resolved by #60.

[2020-06-01 23:42] #59 closed, assigned to kevzhao2

[2020-06-03 18:45] kevzhao2 opened #61 "Terraria World"
Define and implement an abstraction for the Terraria world. Implement world-related events, as well.

[2020-06-03 18:45] kevzhao2 commented on #58
This has been completed.

[2020-06-03 18:45] #58 closed, assigned to kevzhao2

[2020-06-03 21:25] kevzhao2 commented on #41
Closing this issue as it is not relevant atm.

[2020-06-03 21:25] #41 closed, assigned to nobody

[2020-06-05 07:28] kevzhao2 commented on #57
Implemented by https://github.com/Pryaxis/orion/commit/a6830c87d9b19b571b78f615f3746281e60cf52f

[2020-06-05 07:28] #57 closed, assigned to kevzhao2

[2020-06-05 07:28] kevzhao2 commented on #61
Implemented by https://github.com/Pryaxis/orion/commit/aa5f76785abfd120afd4fb0fc29377d3027cc8cc

[2020-06-05 07:28] #61 closed, assigned to kevzhao2

[2020-06-05 07:29] kevzhao2 opened #64 "Terraria Tile Entities"
Implement abstractions for Terraria tile entities.

[2020-06-08 19:16] kevzhao2 opened #65 "Terraria Packet Definitions"
Provide definitions for each Terraria packet (names are WIP):

* [x] 1: `ClientConnectPacket`
* [x] 2: `ServerDisconnectPacket`
* [x] 3: `ServerIndexPacket`
* [x] 4: `PlayerDataPacket`
* [x] 5: `PlayerInventoryPacket`
* [x] 6: `PlayerJoinPacket`
* [ ] 7: `WorldInfoPacket`
* [x] 8: `SectionRequestPacket`
* [x] 9: `ClientStatusPacket`
* [x] 10: `SectionInfoPacket`
* [x] 11: `SectionFramesPacket`
* [

[2020-06-11 05:05] kevzhao2 opened #67 "Improve event infrastructure"
Our event infrastructure should have the following characteristics:

- Ensure server QoS. This can be done by adding budgets to event types, and ensuring that we don't go too far over budget when running the event handlers.
- Asynchronous event handlers. These are event handlers which are run after the synchronous event handlers, and they optionally can be non-blocking, meaning that the event "end

[2020-06-11 05:05] #9 closed, assigned to tylerjwatson

[2020-06-11 05:05] #10 closed, assigned to tylerjwatson

[2020-06-11 05:05] #11 closed, assigned to tylerjwatson

[2020-06-11 05:05] #37 closed, assigned to nobody

[2020-06-11 05:07] kevzhao2 opened #68 "Scheduling"
Implement an efficient scheduler for scheduling synchronous tasks on the Terraria thread. Here is one potential API:

[code]

Repeated tasks can be done by calling `Schedule` in the task body. Asynchronous tasks can be scheduled directly via the `Task` class.

[2020-06-18 07:52] kevzhao2 commented on #67
Asynchronous event handlers have been implemented. Still designing a solution for ensuring QoS.

[2020-06-19 23:39] kevzhao2 opened #73 "Separate out implementations into launcher"
We need to separate out the implementations of the interfaces such as `IItem`, etc. into the launcher.

This allows Orion.Core to _only_ be a set of APIs, and the concrete, Terraria-facing stuff gets put into the launcher.

[2020-06-19 23:45] hakusaro commented on #73
Based on that last sentence, Launcher seems like a really odd choice of words. Can you elaborate more on that?
On Fri, Jun 19, 2020 at 11:39 PM GitHub <notifications@github.com> wrote:
“We need to separate out the implementations of the interfaces such as IItem, etc. into the launcher.

This allows Orion.Core to only be a set of APIs, and the concrete, Terraria-facing stuff gets put into the launc

[2020-06-19 23:53] kevzhao2 commented on #73
It's the entire set of things which will be required to launch an Orion instance.

So this means that implementations, like `OrionItem`, will be done in the "launcher". (There'll be corresponding tests in that, as well). Not sure if there's a better way to name this?

Basically, I don't want to expose OTAPI/Terraria from Orion.Core.

[2020-06-20 00:23] hakusaro commented on #73
I’m not sure, but I’ll tell you that “Launcher” makes me think of like the Minecraft launcher and not a set of APIs, if that makes sense.
On Fri, Jun 19, 2020 at 11:53 PM GitHub <notifications@github.com> wrote:
“It's the entire set of things which will be required to launch an Orion instance.

So this means that implementations, like OrionItem, will be done in the "launcher". (There'll be corresp

[2020-06-20 01:25] kevzhao2 commented on #73
I'll go with the launcher terminology for now. It should be fairly easy to rename in the future.

For the record, the launcher doesn't provide any APIs for consumption.

[2020-06-20 22:07] kevzhao2 opened #74 "Introduce Liquid structure."
Introduce a new `Liquid` structure which encompasses the liquid type of a tile along with the liquid amount. This should make it less confusing to use the `Tile` structure.

[2020-06-23 22:56] #68 closed, assigned to kevzhao2

[2020-06-23 23:31] #73 closed, assigned to kevzhao2

[2020-07-03 00:05] #74 closed, assigned to kevzhao2

[2022-11-11 06:44] verenya opened #79 "Interview partners for research about communication in GitHub projects wanted"
Hi. My name is Verena Ebert, and I am a PhD student at the University of Stuttgart in Germany.
A few months ago, I have examined 90 GitHub projects to see what communication channels they use and how they write about them in the written documents, for example README or wiki. If you are interested in the previous results, you can find them here:
https://arxiv.org/abs/2205.01440
Your project was one

[2022-11-11 07:01] hakusaro commented on #79
<img width="1343" alt="Screenshot 2022-11-10 at 23 01 39" src="https://user-images.githubusercontent.com/532647/201282507-f382a4d3-a6b0-4fc2-b5ab-b533e8bb1c08.png">

@verenya I sent you this email.

[2022-11-11 07:01] #79 closed, assigned to nobody